/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/

#body .inline-img {
  display: inline;
  margin: 0 0.125em;
  padding: 0;
  vertical-align: baseline;
}

#body .inline-middle-img {
  display: inline;
  margin: 0 0.125em;
  padding: 0;
  vertical-align: middle;
}

